html {
	height: 100%;
	background-size:     cover;                      
	background-repeat:   no-repeat;
	background-position: center center;      
}
.cards {
	border-radius: 10px;
}

.title2 {
	font-size: 50
}
#scroll::-webkit-scrollbar {
	display: none;
  }
