#score-title {
    line-height: 150%;
    font-size: large;
    word-wrap: break-word;
    display: inline;
    
}
#card-answers {
	mix-blend-mode: normal;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	border-radius: 40px;
    height: 450px;
    width: 560px;
	align-items: center;
    padding: 0;
    position: relative;
}
#player {
    font-weight: bold;
}
#line {
    
}

#choice-buttons {
    display: flex;
    flex: 1;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 15px;
    height: 40px;
    border-radius: 10;
    width: 280px;
}

#bottom-buttons {
    color: 'black';
    flex: 1;
    margin-left: 200;
    margin-right: 200;
    height: 49;
    width: 300;
    align-items: center;
    font-size: 25;
    font-family: 'Segoe Print';
    color: 'white';
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #room {
        font-size: 25px;
    }
}