@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

#scroll::-webkit-scrollbar {
    display: none;
    align-items: center;
}
#score-title {
    line-height: 150%;
    font-size: 22px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Balsamiq Sans';
    /* margin-bottom: 10px;    */
}
#card-answer{
	mix-blend-mode: normal;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	border-radius: 40;
    height: 450px;
    width: 360px;
	align-items: center;
	padding: 0;
}
#all-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 2.5%;  
}
#player-info {
    display: flex;
    flex-direction: column;
    width: 300px;
}
#points-div {
    display: flex;
    align-items: center;
    margin-left: 12%;
    margin-right: 5.6%;
}
#player {
    font-weight: bold;
    margin-bottom: 1.5%;
    font-family: 'Balsamiq Sans';
}
#answer {
    font-size: small;
    font-family: 'Comfortaa';
}
#points {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Balsamiq Sans';
}
#question {
    line-height: 150%;
    font-size: large;
    word-wrap: break-word;
    display: flex;
    margin-bottom: 15px;
}

#choice-buttons {
    display: flex;
    flex: 1;
    align-content: center;
    align-self: baseline;
    justify-content: center;
    word-wrap: break-word;
    font-size: 15px;
    height: auto;
    border-radius: 10;
    width: 280px;
    /* border: 0; */
    font-family: 'Comfortaa';
    text-transform: none;
    margin-bottom: 10px;
}

#button-div {
    display: flex;
    justify-content: center;
}
#paper-answer {
    display: flex;
    flex: 1;
    height: 240px;
    width: 450px;
    padding: 0;
    margin: 0;
    border-radius: 14px;
    border-width: 2px;
}
#waiting-box {
    background: var(--c);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border-width: 2px;
    padding: 15px;
    height: 240px;
    font-size: 30px;
    font-family: 'Balsamiq Sans';
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 450px;
    line-height: 150%;
}

#bottom-buttons {
    display: flex;
    justify-content: flex-end;
    border-radius: 7px;
    border-width: 1px;
    font-size: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    border-width: 1px;
    font-size: 10px;
    padding: 3.5%;
    font-family: 'Balsamiq Sans';
    
}
#waiting-question{
    height: 300px;
    flex-grow: 1;
}

#card-answer-waiting {
    mix-blend-mode: normal;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	border-radius: 40;
    height: 450px;
    width: 360px;
	align-items: center;
	padding: 0;
}

@media screen and (max-width: 600px) {
    #room {
        font-size: 25px;
    }
    #question {
        word-wrap: break-word;
        display: inline-block;
    }
    #waiting-box {
        width: 220px;
        height: 200px;
        position: relative ;
        top:0px;
    }
    #submit-button {
        align-items: center;
    }
}